# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
ENV/
env/
.env
*.db
*.sqlite3

# Node
node_modules/
dist/
dist-ssr/
*.local

# Cloud & Deployment Artifacts
.vercel
.catalystrc
*.catalystrc
*.log

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

